.header{
    background-color:rgb(190, 136, 100);
    width:auto;
    height:15%;
    color:rgb(65, 44, 15); 
    text-align:center;
    padding: 15px 0;
    padding-left: 15px 0;
}
.wrapper {
    width:auto;
    height:auto;
    color:rgb(65, 44, 15);
}

.side_bar {
    width:20%;
    position: fixed;
    height:500px;
    font-size: 80%;
    vertical-align: middle;
    text-align:center;
    background-color:rgb(190, 136, 100);   
    padding: 30px 0;
    
    right: 0;
    
}
.result{
    text-align:center;
    position: center;
    background-color:burlywood;
    width: 80%;
    height:15%;
    margin-top: 20px;
    padding-top: 20px;

}
.steps{
    text-align:center;
    width: 80%;
    background-color:burlywood;
    height:auto;
    margin-top: 20px;
    padding-top: 20px;
}

.info {

    text-align:center;
    width: 80%;
    background-color:burlywood;
    height:auto;
    color:rgb(65, 44, 15);

}

.info_writing {
    color:rgb(65, 44, 15);
    width: 700px;
    padding: 20px 0;


}