
<h1> Welcome to our Caridovascular Disease Predictor</h1>
 
<!-- ask the user to input there age, gender, height, weight, systolm diastol, chol, glu, smoking, alcohol consumption and exercise -->
<!-- create a form -->
<form action="test" method="post">
    {% csrf_token %} 
    {{form}}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <label for="our_age">Your age: </label>
    <input id="your_age" type="number" name="your_age" value="{{ current_age }}">
    <legend>What was your sex at birth?</legend>
    <input type="radio" name="gender" value="Male" checked>Male<br>
    <input type="radio" name="gender" value="Female">Female<br>
    <label for="your_height">Your height: </label>
    <input id="your_height" type="number" name="your_height" value="{{ current_weight }}">
    <label for="your_weight">Your weight: </label>
    <input id="your_weight" type="number" name="your_weight" value="{{ current_weight }}">
    <label for="your_sbp">Your systolic blood pressure: </label>
    <input id="your_sbp" type="number" name="your_sbp" value="{{ current_sbp }}">
    <label for="your_dbp">Your diastlolic blood pressure: </label>
    <input id="your_dbp" type="number" name="your_dbp" value="{{ current_dbp }}"> 
    <legend>What is your cholestrol level?</legend>
    <input type="radio" name="cholestoral" value="norm" checked>Normal<br>
    <input type="radio" name="cholestoral" value="abvnorm">Above Normal<br>
    <input type="radio" name="cholestoral" value="wellabvnorm">Well Above Normal<br>
    <legend>What is your glucose level?</legend>
    <input type="radio" name="glucose" value="norm" checked>Normal<br>
    <input type="radio" name="glucose" value="abvnorm">Above Normal<br>
    <input type="radio" name="glucose" value="wellabvnorm">Well Above Normal<br>
    <legend>Do you smoke?</legend>
    <input type="radio" name="smoke" value="yes" checked>Yes<br>
    <input type="radio" name="smoke" value="no">No<br>
    <legend>Do you drink?</legend>
    <input type="radio" name="drink" value="yes" checked>Yes<br>
    <input type="radio" name="drink" value="no">No<br>
    <legend>Do you exercise regularly?</legend>
    <input type="radio" name="exercise" value="yes" checked>Yes<br>
    <input type="radio" name="exercise" value="no">No<br>


    <input type="submit" value="OK">
</form>
