<!DOCTYPE html>
<html lang ="en">
<head>
    <link rel="stylesheet" href="positive.css" />
</head>
<body>
    <div class="header">
        <h1>Cardiovascular Disease Predictor</h1>
    </div>
    <div class="wrapper">
        <div class="side_bar">
            <h2>Your Results:</h2>
            <break></break>
            <h1>Possible Positive Result Detected</h1>
        </div>
        <div class="steps">
            <h1>Next steps</h1>
        </div>
        <break></break>
    </div>
    <div style=margin-top:50px; class="info">
        <div class="info_writing"></div>
            <h2>How Were the Results Calculated?</h2>
            <p>The results from this detected were generated based on a logistic 
                regression machine learning algorithim. This was done by analysizing previously 
                collected data regarding patients age, gender, height, weight, Systolic 
                and Diastolic blood pressure, Cholesterol levels, Glucose levels, 
                Smoking rate, Alcohol intact, physical activity, and finally, whether 
                or not they had caridovascular disease. Based on the results, the 
                algorthim then learned how to predict such cases with a PRECENTAGE HERE
                accuracy rate.  
            </p>
        </div>
    </div>
    <img src="img/fullheatmap.png" alt="Heat graph showing the correlation between all data points">
</body>
</html>
