{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
 

    <link rel="stylesheet" type="text/css" href="{% static '/css/positive.css' %}"></head>
</html>
<body>
    <div class="header">
        <h1>Caridovascular Disease Predictor</h1>
    </div>
    <div class="wrapper">
        
        <div class="side_bar">
            <h2>Your Results:</h2>
            <break></break>
            <h1>Possible Positive Result Detected</h1>
        </div>
        <div class="steps">
            <h1>Next steps</h1>
        </div>
        <break></break>
        
    </div>
    <div style=margin-top:50px; class="info">
        <div class="info_writing"></div>
            <h2>How Were the Results Calculated?</h2>
            <p></p>
        </div>
        
            
    </div>
</body>
